# Node modules
node_modules/

# Environment files
.env
.env.production
.env.local
.env.staging

# RSA keys
keys/private.pem
keys/public.pem

# SQLite DB
/data/socialverse.db

# Logs
logs/
*.log

# Build artifacts
dist/
.cache/
