# Node modules
node_modules/

# Environment files
.env
.env.production
.env.local
.env.staging

# RSA keys
keys/private.pem
keys/public.pem

# Supabase migration cleanup
data.db
*.sqlite


# Logs
logs/
*.log

# Build artifacts
dist/
.cache/
